* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



* Navigation Links */
.nav-links {
  display: flex;
  gap: 2rem;
}

/* Apply same style to both links and dropdown toggle */
.nav-links a,
.dropdown-toggle {
  font-size: 1.6rem;
  color: var(--text-dark);
  font-weight: 600;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Hover effect */
.nav-links a:hover,
.dropdown-toggle:hover {
  color: var(--color-primary);
}

/* Dropdown container */
.dropdown {
  position: relative;
}

/* Flex for arrow */
.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Arrow animation */
.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}
.dropdown.active .arrow {
  transform: rotate(180deg);
}

/* Submenu hidden */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 300px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  border-radius: 6px;
  overflow: hidden;
  z-index: 999;
}
.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}
.dropdown-menu a:hover {
  background: #f0f0f0;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Hero section */
/* Hero section background */
.hero-carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
background-image: url('../images/approach.jpeg');
  background-size: cover;
  background-position: center;
   background-attachment: scroll; /* default */
  background-attachment: fixed; /* fallback for desktop */
}

/* Dark overlay */
.hero-carousel::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* darkness */
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  padding: 0 2rem;
  text-align: center;
  top: 40%;
  transform: translateY(-50%);
}

/* hero-text */
.hero-p {
  font-size: 2rem;
  color: #ddd;
  text-align: left;
  padding-left: 5rem;
  margin-top: 1rem;
}

.hero-content h1 {
  font-size: 5rem;
  padding-left: 5rem;
  margin: 0 auto;
  letter-spacing: -2px;
  color: aliceblue;
  font-family: 'poppins', sans-serif;
  text-align: left;

}

.clean {
 color: var(--color-accent);
  font-size: 6rem;
}

.hero-content a {
  display: inline-block;
  background: var(--color-primary);
  color: white;
  padding: 1.5rem 1.5rem;
 border: 5px solid var(--color-accent);
  margin-top: 1rem;
  transition: background 0.3s;
  font-family: lato, "Helvetica", sans-serif;
}

.hero-content a:hover {
  background: var(--color-primary-dark);
  border: 5px solid white;
}


/* Approach Section */

.approach-heading {
  margin: 0 auto;
  padding: 3rem 2rem;
  text-align: center;
  background-color: #ffff;
  margin-bottom: 3rem;
}

.approach-heading h2 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
  border-bottom: 7px solid var(--color-accent);
  display: inline-block;
}



/* Each block */
.story-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  /* margin-bottom: 5rem; */
  padding: 0 4rem;
}

.story-block.reverse {
  flex-direction: row-reverse; /* alternate layout */
  background: #f9f9f9;
}

/* Image styling */
.story-image {
  flex: 1; /* let image take equal space */
  max-height: 900px;

}

.story-image img {
  width: 100%;
  height: 400px;        /* let browser keep aspect ratio */
  max-height: 100%;    /* prevent it from going outside container */
  object-fit: cover;
}

.story-image1 img {
  max-width: 500px;
  width: 100%;
  height: auto;
  object-fit: cover;

}

/* Text styling */
.story-text {
  flex: 1; /* give text more room than image */
}

.story-text h2 {
  /* font-size: 2rem; */
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--color-primary);
  border-bottom: 7px solid var(--color-accent);
}

.story-text p {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: justify;
}

/*  */

/* CTA Section */
.cta-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 5rem auto;
  padding: 0 2rem;
  overflow: hidden;
  color: #fff;
  height: 500px;
}



.cta-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-primary) 40%,
    rgba(79, 70, 229, 0) 70%
  );
  z-index: 2;
  pointer-events: none;
}


.cta-container {
  position: relative;
  z-index: 3;
  max-width: 600px;
}



.cta-container h2 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: left;
  z-index: 2;
}

.cta-container h2 span {
  color: var(--color-accent); 
  font-size: 4rem;
  z-index: 2;
}

.cta-container p {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #f9f9f9;
  text-align: left;
}

/* button parent */

.btn-contact {
  text-align: left;
  margin-top: 3rem;
}

.cta-button {
  display: align-left;
  background: #fff;
  color: var(--color-primary);
  padding: 0 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  margin-top: 2rem;
  transition: all 0.3s ease;
  text-align: left;
  border: 5px solid var(--color-accent);
}

.cta-button:hover {
  background: var(--color-accent);
  color: #fff;
}





/* Interested section  */


.interest {
  text-align: center;
  background: white;
}

    .interest-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      max-width: 1200px;
      margin: auto;
      text-align: center;
    }

    .interest h2 {
      display: inline-block; /* shrinks to text width */
  margin: 10rem auto 1rem;
  color: #0073C7;
  border-bottom: 5px solid var(--color-accent);
    }

    .interest-card {
      position: relative;
      overflow: hidden;
      height: 400px;
      display: flex;
      align-items: flex-end;
      color: #fff;
      margin : 3rem 0;

    }

    .interest-card::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0,0,0,0.4); /* dark overlay */
    }

    .interest-content {
      position: relative;
      padding: 1.5rem;
      z-index: 1;
      text-align: left;
    }

    .interest-card h3 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }

    .btn {
      display: inline-block;
      padding: 1rem 1rem;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 1.4rem;
      transition: all 0.3s ease;
      border: 5px solid var(--color-accent);
      text-align: left;
      background: var(--color-primary);
     
    }

    .btn:hover {
      background: var(--color-primary-dark);
      color: var(--color-light);
      text-decoration: none;
    }
    /* Background images */
    .interest1 {
      background: url("../images/interest-services.jpeg") center/cover no-repeat;
    }

    .interest2 {
      background: url("../images/interest-approach.jpg") center/cover no-repeat;
    }



    /* Responsiveness */  

    

/* Responsive */
@media (max-width: 768px) {
  .story-block,
  .story-block.reverse {
    flex-direction: column; /* stack on mobile */
    text-align: center;
  }

   .story-image {
    width: 100%;
   }

  
  .story-image img {
    width: 100%;          /* take full width */
    height: auto;         /* keep aspect ratio */
    max-height: 300px;    /* optional: limit very tall images */
    object-fit: cover;    /* crop nicely if aspect ratio differs */
    border-radius: 10px;  /* optional for consistent look */
  }

  .interest-container {
    grid-template-columns: 1fr; /* single column on mobile */
    padding: 2rem;
  }
}





/* Responsiveness */

/* Desktop: show on hover */
@media (min-width: 769px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* Mobile: show on click */
@media (max-width: 1180px) {
  .dropdown.active .dropdown-menu {
    display: block;
    position: static; /* makes it stack nicely */
    box-shadow: none;
    background: #f9f9f9;
    /* margin-top: 5px; */
  }
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background: white;
    position: absolute;
    top: 70px; /* adjust based on your header height */
    left: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    z-index: 1000;
  }

    .dropdown-toggle i {
  display: block;
}

.hero-carousel {
  height: 70vh;
  background-attachment: scroll;
}
.hero-content {
    padding-top: 9rem;
}

.hero-content p {
    margin: 1rem auto 2rem;
    font-size: 1.6rem;
    margin-top: -2rem;
} }

/* Toggle arrow */

@media (max-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: none;
  }

  .dropdown.active .dropdown-menu {
    display: block;
  }

  .Quote {
    display: none;
   }
  .hero-content h1 {
  letter-spacing: -1.5px;
  font-size: 3.5rem;
  padding-left: 2rem;
  margin-bottom: 3rem;
} 
.clean {
  font-size: 3.5rem;
}
.hero-p {
  font-size: 1.4rem;
  padding-left: 2rem;
} 
.hero-content {
  top: 25%;
} 
}