
/* CTA Section */

/* CTA Section */

/* CTA Section */
.cta-section1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 5rem auto;
  padding: 0 2rem;
  overflow: hidden;
  color: #fff;
  height: 500px;
}



.cta-section1::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-primary) 40%,
    rgba(79, 70, 229, 0) 70%
  );
  z-index: 2;
  pointer-events: none;
}


.cta-container1 {
  position: relative;
  z-index: 3;
  max-width: 600px;
}



.cta-container1 h2 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: left;
  z-index: 2;
}

.cta-container1 h2 span {
  color: var(--color-accent); 
  font-size: 4rem;
  z-index: 2;
}

.cta-container1 p {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #f9f9f9;
  text-align: left;
}

/* button parent */

.btn-contact {
  text-align: left;
  margin-top: 3rem;
}

.cta-button {
  display: align-left;
  background: #fff;
  color: var(--color-primary);
  padding: 0 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  margin-top: 2rem;
  transition: all 0.3s ease;
  text-align: left;
  border: 5px solid var(--color-accent);
}

.cta-button:hover {
  background: var(--color-accent);
  color: #fff;
}


.cta-image {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.cta-image img {
 width: 100%;
  height: 100%;
  object-fit: cover;
}

/* interest section */


/* Interested section  */

.interest {
    background: #f9f9f9;
    padding: 0.5rem 0 2rem;
    text-align: center;
}

    .interest-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      max-width: 1200px;
      margin: 4rem auto;
    }

    .interest h2 {
      display: inline-block;
      text-align: center;
      margin: 10rem 0 1rem;
      color: #0073C7;
      /* font-size: 2.5rem; */
      border-bottom: 5px solid var(--color-accent);
    }

    .interest-card {
      position: relative;
      overflow: hidden; 
      height: 400px;
      display: flex;
      align-items: flex-end;
      color: #fff;
      margin-top: 3rem;

    }

    .interest-card::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0,0,0,0.4); /* dark overlay */
    }

    .interest-content {
      position: relative;
      padding: 1.5rem;
      z-index: 1;
      text-align: left;
    }

    .interest-card h3 {
      font-size: 3rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }

    
    .btn {
      display: inline-block;
      padding: 1rem 1rem;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 1.4rem;
      transition: all 0.3s ease;
      border: 5px solid var(--color-accent);
      text-align: left;
     
    }

    .btn:hover {
      background: var(--color-primary-dark);
      color: var(--color-light);
      text-decoration: none;
    }

    /* Background images */
    .interest1 {
      background: url("../images/coperate-solution.jpeg") center/cover no-repeat;
    }

    .interest2 {
      background: url("../images/impact-story.jpeg") center/cover no-repeat;
    }


/* responsive */
@media (max-width: 768px) {
  .cta-container .text-cta {
    width: 50%;

  }
  .cta-container {
    margin-top: 15rem;
  }
  .cta-container h2 span {
    font-size: 3rem;
  }
  .cta-container h2 {
    font-size: 2.5rem;
  }
  .cta-text {
    display: none;
  }

    .hero-carousel {
  height: 70vh;
  background-attachment: scroll;
}
.Quote {
  display: none;
}
}

