/* Hero section background */
.hero-carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
background-image: url('../images/services-hero.jpeg');
  background-size: cover;
  background-position: center;
   background-attachment: scroll; /* default */
  background-attachment: fixed; /* fallback for desktop */
}

.cta-image {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.cta-image img {
 width: 100%;
  height: 100%;
  object-fit: cover;

}


/* responsive */
@media (max-width: 768px) {
  .cta-container .text-cta {
    width: 50%;

  }
  .cta-container {
    margin-top: 15rem;
  }
  .cta-container h2 span {
    font-size: 3rem;
  }
  .cta-container h2 {
    font-size: 2.5rem;
  }
  .cta-text {
    display: none;
  }

    .hero-carousel {
  height: 70vh;
  background-attachment: scroll;
}
.Quote {
  display: none;
}
}

